* {
    box-sizing: border-box;
}

.profile {
    width: 100%; 
    padding: 50px;
    text-align: center;
}
.profile h3 {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}
.profile h4 {
    margin-left: 35%;
    margin-right: 35%;
    border-width: 4px;
    border-style: solid;
    border-color: skyblue;
    border-image: initial;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background: lightgrey;
}
